.homePage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-bg-light);
  padding: var(--padding-page);
  text-align: center;
  gap: 3rem;
}

.aboutUsHeading {
  font-size: 2rem;
  font-weight: 600;
}

.aboutUsInfo {
  color: rgb(5, 5, 85);
  max-width: 60ch;
  font-style: italic;
}

.aboutUs,
.mission {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.missionHeading {
  font-size: 1.5rem;
}

.missionInfo {
  max-width: 75ch;
}
