.itemCounter {
  align-self: stretch;
  display: flex;
  gap: 0.5rem;
}

.quantityInputGroup {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.quantityInput {
  color: rgb(70, 70, 70);
  border: 1px solid rgb(70, 70, 70);
  border-radius: 4px;
  background-color: var(--color-bg-light);
  flex: 1;
}

div.quantityBtns {
  display: grid;
  grid-template-columns: 1.5rem 1.5rem;
  gap: 0.25rem;
}

.quantityBtn {
  border: none;
  appearance: none;
  background-color: var(--color-bg-light);
  color: rgb(70, 70, 70);
  border-radius: 4px;
  border: 1px solid rgb(70, 70, 70);
}

.quantityBtn:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
