.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgb(70, 70, 70);
  color: white;
}

.title {
  font-size: 40px;
}

.linksList {
  display: flex;
  gap: 1rem;
}

.link {
  text-decoration: none;
  padding: 8px 16px;
  display: block;
  text-align: center;
  color: white;
  border-radius: 4px;
}

.link:hover {
  background-color: rgb(50, 50, 50);
}
